@model IEnumerable<TheBowlingGame.Models.ViewModels.FrameViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{  
    var isVisible = true;
    if (TempData.ContainsKey("IsVisible"))  
    {  
        isVisible = Convert.ToBoolean(TempData["IsVisible"]);
    }  
}  
<br />
<br />
<form method="post">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">The Bowling Game</h2>
        </div>
        <br />
    </div>
    <div class="row">
        <div class="form-group row">
            <div class="col-2">
                @{
                    @if (isVisible)
                    {
                        <input id="Pin" type="text" name="Pin" placeholder="Enter Pin" runat="server" style="width: 50px;"/>
                        <br />
                        <br />
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-bowling-ball"></i>
                        </button>
                    }
                }
            </div>
        </div>
        <div class="form-group row">
            <br />
            <br />
            <div class="col-12">
                <table class="table table-stripped border">
                    <tr class="table-info">
                        <th>Frame</th>
                        <th>Pin Counts</th>
                        <th>Rolls Remaing</th>
                        <th>Score</th>
                        <th></th>
                    </tr>
                    @foreach(var frame in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => frame.FrameId)</td>
                            <td>
                                <b>First Roll: </b>@Html.DisplayFor(m => frame.FirstRoll)<br />
                                @if (frame.RollCount == 2)
                                {
                                    <b>Second Roll: </b>@Html.DisplayFor(m => frame.SecondRoll)<br />
                                }
                                @if (frame.IsExtraRoll)
                                {
                                    <b>Third Roll: </b>@Html.DisplayFor(m => frame.ExtraRoll)<br />
                                }
                            </td>
                            <td>@Html.DisplayFor(m => frame.RollsRemain)</td>
                            <td>@Html.DisplayFor(m => frame.Score)</td>
                        </tr>                
                        @if (frame.IsReset)
                        {
                            TempData["Reset"] = true;
                            <tr>
                                <td>
                                    <a type="submit" class="btn btn-primary rounded-0" onselect="RollClick" href="@Url.Action("Index", new { screenFrames = Model })">
                                        <i class="far fa-window-close"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group row">
            <span class="alert-danger">
                @Html.ValidationMessage("Pin")
            </span>
        </div>
    </div>
</form>