@model IEnumerable<TheBowlingGame.Models.Frame>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<form method="post">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">The Bowling Game</h2>
        </div>
        <br />
    </div>
    <div class="row">
        <div class="form-group row">
            <div class="col-2">
                <input id="Roll" type="text" name="Roll" placeholder="Enter Pin" runat="server" style="width: 50px;"/>
                <br />
                <br />
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-bowling-ball"></i>
                </button>
            </div>
        </div>
        <div class="form-group row">
            <br />
            <br />
            <div class="col-12">
                <table class="table table-stripped border">
                    <tr class="table-info">
                        <th>Frame</th>
                        <th>Pin Counts</th>
                        <th>Rolls Remaing</th>
                        <th>Score</th>
                        <th></th>
                    </tr>
                    @foreach(var frame in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => frame.FrameId)</td>
                            @if (frame.IsClosed)
                            {
                                @if (frame.FrameId == 10)
                                {
                                    @if (frame.RollCount == 3)
                                    {
                                        <td>
                                            <b>First Roll: </b>@Html.DisplayFor(m => frame.Rolls.FirstRoll)<br />
                                            <b>Second Roll: </b>@Html.DisplayFor(m => frame.Rolls.SecondRoll)<br />
                                            <b>Third Roll: </b>@Html.DisplayFor(m => frame.Rolls.ExtraRoll)<br />
                                        </td>
                                        <td>0</td>
                                    }
                                    else
                                    {
                                        <td>
                                            <b>First Roll: </b>@Html.DisplayFor(m => frame.Rolls.FirstRoll)<br />
                                            <b>Second Roll: </b>@Html.DisplayFor(m => frame.Rolls.SecondRoll)<br />
                                        </td>
                                        <td>0</td>
                                    }
                                
                                }
                                else
                                {
                                    <td>
                                        <b>First Roll: </b>@Html.DisplayFor(m => frame.Rolls.FirstRoll)<br />
                                        <b>Second Roll: </b>@Html.DisplayFor(m => frame.Rolls.SecondRoll)<br />
                                    </td>
                                    <td>0</td>
                                }
                            }
                            else
                            {
                                @if (frame.FrameId == 10)
                                {
                                    @if (frame.RollCount == 2)
                                    {
                                        if (frame.Rolls.FirstRoll + frame.Rolls.SecondRoll == 10)
                                        {
                                            <td>
                                                <b>First Roll: </b>@Html.DisplayFor(m => frame.Rolls.FirstRoll)<br />
                                                <b>Second Roll: </b>@Html.DisplayFor(m => frame.Rolls.SecondRoll)<br />
                                            </td>
                                            <td>1</td>
                                        }
                                        else
                                        {
                                            <td>
                                                <b>First Roll: </b>@Html.DisplayFor(m => frame.Rolls.FirstRoll)<br />
                                                <b>Second Roll: </b>@Html.DisplayFor(m => frame.Rolls.SecondRoll)<br />
                                            </td>
                                            <td>0</td>
                                        }
                                    }
                                    else
                                    {
                                        <td><b>First Roll: </b>@Html.DisplayFor(m => frame.Rolls.FirstRoll)</td>
                                        <td>@Html.DisplayFor(m => frame.RollCount)</td>
                                    }
                                
                                }
                                else
                                {
                                    <td><b>First Roll: </b>@Html.DisplayFor(m => frame.Rolls.FirstRoll)</td>
                                    <td>@Html.DisplayFor(m => frame.RollCount)</td>
                                }
                            }
                        
                            <td>@Html.DisplayFor(m => frame.Score)</td>                    
                        </tr>                
                        @if (frame.FrameId == 10)
                        {
                            if (frame.IsClosed || frame.RollCount == 2 && frame.Rolls.FirstRoll + frame.Rolls.SecondRoll < 10)
                            {
                                TempData["Reset"] = true;

                                <tr>
                                    <td>
                                        <a type="submit" class="btn btn-primary rounded-0" href="@Url.Action("Index", new { screenFrames = Model })">
                                            <i class="far fa-window-close"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group row">
            <span class="alert-danger">
                @Html.ValidationMessage("Roll")
            </span>
        </div>
    </div>
</form>